<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= button_to("Log In", new_session_url, method: :get) %>
    <%= button_to("Log Out", session_url, method: :delete) %>
    <%= yield %>
  </body>
</html>
